<div class="row mx-0 imee-red d-none">
  <div class="col-12 py-3 ">
    <div class="imee-container text-center ">
      <h6 class="text-white m-0 imee-section-header" style="font-size: 0.9rem !important">Ο ΦΟΡΕΑΣ</h6>
    </div>
  </div>
</div>


<div class="row mx-0  pt-3 shadow-sm border-bottom imee-scroller">
  <div class="col-12 p-0">
    <div class="imee-container">

      <ul class="nav nav-pills nav-justified">
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/">Ιστορικό</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/synerg">Συνεργασίες</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/empiria">Εμπειρια του φορέα</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/ipodomi">Υποδομη</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill active" href="#">Δραστηριότητα</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/org">Οργάνωση & Υπηρεσίες</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/#">Πολιτική Προστασίας</a>
        </li>

      </ul>
    </div>
  </div>
</div>


<div class="row mx-0 my-4">
  <div class="col-12 p-0 ">
    <div class="imee-container rounded border shadow-sm">


      <div class="row mx-0">
        <div class="col-12 p-0">
          <img src="/images/Drastiriotita.jpg" alt="" style="height:400px;width:100%;object-fit:cover;">
        </div>
      </div>
      <div class="row mx-0  py-3">
        <div class="col-12 imee-text-black ">
          <div class="row mx-0 ">
            <div class="col-12 py-2 my-1 border-bottom">
              <span class="imee-prog-title">Αντικείμενο Δραστηριότητας</span>
            </div>
            <!-- <div class="col-12 py-2 ">
              <span class="imee-prog-subtitle">Υπότιτλος για Σεμινάρια Πληροφορικής</span>
            </div> -->
            <div class="col-12 fr-view mt-4 text-justify">

              Το ΙΜΕ&Ε με τα εξειδικευμένα και υψηλού επιστημονικού κύρους στελέχη του δραστηριοποιείται στα παρακάτω:
              <br>
              <br>
              <ul>
                <li>Προγράμματα Κατάρτισης Ανέργων και Εργαζομένων</li>
                <li>Οικονομοτεχνικές Μελέτες</li>
                <li>Κοινοτικές Πρωτοβουλίες</li>
                <li>Συμβουλευτική & Προώθηση Ανέργων στην Αγορά Εργασίας</li>
                <li> Οργάνωση Εκπαιδευτηρίων</li>
                <li> Προγράμματα Σπουδών</li>
                <li> Εκπαιδευτικό υλικό</li>
              </ul>



            </div>

          </div>
        </div>


      </div>
      <!-- Navigation buttons -->
      <div class="row mx-0 my-4">
        <div class="col-12 col-sm-6 text-center text-sm-left py-2">
          <a href="/foreas/ipodomi" class="btn imee-btn-grey">
            <i class="fas fa-arrow-left"></i>
             Υποδομη
          </a>
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-right py-2">
          <a href="/foreas/org" class="btn imee-btn-grey">
            Οργάνωση & Υπηρεσίες
             <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
