<div class="row mx-0 imee-red d-none">
  <div class="col-12 py-3 ">
    <div class="imee-container text-center ">
      <h6 class="text-white m-0 imee-section-header" style="font-size: 0.9rem !important">Ο ΦΟΡΕΑΣ</h6>
    </div>
  </div>
</div>


<div class="row mx-0  pt-3 shadow-sm border-bottom imee-scroller">
  <div class="col-12 p-0">
    <div class="imee-container">

      <ul class="nav nav-pills nav-justified">
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/">Ιστορικό</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/synerg">Συνεργασίες</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/empiria">Εμπειρια του φορέα</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill active" href="#">Υποδομη</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/drast">Δραστηριότητα</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/org">Οργάνωση & Υπηρεσίες</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/#">Πολιτική Προστασίας</a>
        </li>

      </ul>
    </div>
  </div>
</div>


<div class="row mx-0 my-4">
  <div class="col-12 p-0 ">
    <div class="imee-container rounded border shadow-sm">


      <div class="row mx-0">
        <div class="col-12 p-0">
          <img src="/images/ipodomi.jpg" alt="" style="height:400px;width:100%;object-fit:cover;">
        </div>
      </div>
      <div class="row mx-0  py-3">
        <div class="col-12 imee-text-black ">
          <div class="row mx-0 ">
            <div class="col-12 py-2 my-1 border-bottom">
              <span class="imee-prog-title">Υποδομη</span>
            </div>
            <!-- <div class="col-12 py-2 ">
              <span class="imee-prog-subtitle">Υπότιτλος για Σεμινάρια Πληροφορικής</span>
            </div> -->
            <div class="col-12 fr-view mt-4 text-justify">

              Το ΚΕΚ ΙΜΕ&Ε Α.Ε. διαθέτει 4 δομές, σε πολυτελείς κλιματιζόμενες εγκαταστάσεις,
              συνολικού εμβαδού 1019τ.μ.:
              <br>
              <ul>
                <li> Έδρα, εμβαδoύ 444 τ.μ., στην οδό Ερατύρας 3 - Σταθμός Λαρίσης, Αθήνα.</li>
                <li> Παράρτημα 1, εμβαδού 245 τ.μ., στην οδό Λοξής Φάλαγγος 64, Θήβα.</li>
              </ul>

              Οι δομές διαθέτουν:
              <br>
              Αίθουσες Πληροφορικής και Διδασκαλίας, πλήρως εξοπλισμένες,
              με σύγχρονο τεχνολογικό εξοπλισμό όπως video-projector, διαφανοσκόπιο, οθόνη προβολής, τηλεόραση, video-dvd και συγκρότημα ήχου.
              <br>
              Γραφείο Εκπαιδευτών, πλήρως εξοπλισμένο, για την καθημερινή εξυπηρέτηση των εκπαιδευτών/τριών,
              για την καλύτερη υλοποίηση των προγραμμάτων κατάρτισης.
              <br>
              Γραφείο Σ.Υ.Υ., ειδικά διαμορφωμένος χώρος για την παροχή υπηρεσιών σε άτομα που ανήκουν
              στις Ευπαθείς Κοινωνικά Ομάδες.
              <br>
              Βιβλιοθήκη–Αναγνωστήριο–Internet,
              πλήρως εξοπλισμένος χώρος παρέχοντας την δυνατότητα στους καταρτιζόμενους να μελετήσουν εκπαιδευτικό υλικό αλλά και για να αντλήσουν περισσότερη γνώση και ενημέρωση για πληροφορίες μέσω του Διαδικτύου.
              <br>
              Όλοι οι χώροι των δομών είναι προσβάσιμοι
              από Άτομα με ειδικές Ανάγκες

            </div>

          </div>
        </div>


      </div>
      <!-- Navigation buttons -->
      <div class="row mx-0 my-4">
        <div class="col-12 col-sm-6 text-center text-sm-left py-2">
          <a href="/foreas/empiria" class="btn imee-btn-grey">
            <i class="fas fa-arrow-left"></i>
             Εμπειρια του φορέα
          </a>
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-right py-2">
          <a href="/foreas/drast" class="btn imee-btn-grey">
             Δραστηριότητα
             <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
