<div class="row mx-0 imee-red d-none">
  <div class="col-12 py-3 ">
    <div class="imee-container text-center ">
      <h6 class="text-white m-0 imee-section-header" style="font-size: 0.9rem !important">Ο ΦΟΡΕΑΣ</h6>
    </div>
  </div>
</div>


<div class="row mx-0  pt-3 shadow-sm border-bottom imee-scroller">
  <div class="col-12 p-0">
    <div class="imee-container">

      <ul class="nav nav-pills nav-justified">
        <li class="nav-item mx-0 my-1">
          <a class="nav-link imee-pill active" href="#">Ιστορικό</a>
        </li>
        <li class="nav-item mx-0 my-1">
          <a class="nav-link imee-pill " href="/foreas/synerg">Συνεργασίες</a>
        </li>
        <li class="nav-item mx-0 my-1">
          <a class="nav-link imee-pill " href="/foreas/empiria">Εμπειρια του φορέα</a>
        </li>
        <li class="nav-item mx-0 my-1">
          <a class="nav-link imee-pill " href="/foreas/ipodomi">Υποδομη</a>
        </li>
        <li class="nav-item mx-0 my-1">
          <a class="nav-link imee-pill " href="/foreas/drast">Δραστηριότητα</a>
        </li>
        <li class="nav-item mx-0 my-1">
          <a class="nav-link imee-pill " href="/foreas/org">Οργάνωση & Υπηρεσίες</a>
        </li>
        <li class="nav-item mx-0 my-1">
          <a class="nav-link imee-pill " href="/foreas/#">Πολιτική Προστασίας</a>
        </li>

      </ul>
    </div>
  </div>
</div>


<div class="row mx-0 my-4">
  <div class="col-12 p-0 ">
    <div class="imee-container rounded border shadow-sm">


      <div class="row mx-0">
        <div class="col-12 p-0">
          <img src="/images/istoriko.jpg" alt="" style="height:400px;width:100%;object-fit:cover;">
        </div>
      </div>
      <div class="row mx-0  py-3">
        <div class="col-12 imee-text-black ">
          <div class="row mx-0 ">
            <div class="col-12 py-2 my-1 border-bottom">
              <span class="imee-prog-title">Ιστορικό</span>
            </div>
            <!-- <div class="col-12 py-2 ">
              <span class="imee-prog-subtitle">Υπότιτλος για Σεμινάρια Πληροφορικής</span>
            </div> -->
            <div class="col-12 fr-view mt-4 text-justify">
              Το «Ινστιτούτο Μελετών Επιχειρήσεων και Εκπαίδευσης Ε.Ε.» (ΙΜΕ&Ε) ιδρύθηκε το 1993 στην Αθήνα.

              Τον Ιανουάριο του 1994, η Ετερόρρυθμη Εταιρία μετετράπη σε Ανώνυμη Εταιρία, με την επωνυμία ΙΜΕ&Ε ΑΕ και με διακριτικό τίτλο Ινστιτούτο Μελετών Επιχειρήσεων & Εκπαίδευσης.

              Τον Ιανουάριο του 1995 με τροποποίηση του καταστατικού της, σύμφωνα με την Υπουργική Απόφαση 115372/11.11.94, μετετράπη σε Κέντρο Επαγγελματικής Κατάρτισης (ΚΕΚ) Εθνικής εμβέλειας.

              Το ΙΜΕ&Ε σήμερα είναι πιστοποιημένο ΚΕΚ-Κε.Δι.Βι.Μ 2 (Κέντρο Επαγγελματικής Κατάρτισης - Κέντρο Δια Βίου Μάθησης Επιπέδου 2), από τον <a href="http://www.eoppep.gr/index.php/el/" target="_blank">Εθνικό Οργανισμό Πιστοποίησης Προσόντων &amp; Επαγγελματικού Προσανατολισμού</a> (Ε.Ο.Π.Π.Ε.Π.), με αριθμό
              πιστοποίησης 1110948, με έδρα στην Αθήνα και τρία παραρτήματα στις πόλεις Ξάνθη, Θήβα και Τρίπολη.

              Το Ιανουάριο του 2006 η Διοίκηση του ΚΕΚ ΙΜΕ&Ε στο πλαίσιο των αναπτυξιακών πρωτοβουλιών της και με προσανατολισμό την διαρκή βελτίωση, πιστοποιήθηκε στο Σύστημα Διαχείρισης της Ποιότητας pdf DIN EN ISO 9001 (Αριθμ. Καταχ.
              Πιστοποιητικού: 331722QM) για τις προσφερόμενες υπηρεσίες και ιδιαίτερα για τις υπηρεσίες εκπαίδευσης.

              Η ανάπτυξη και εφαρμογή συγκεκριμένων διαδικασιών διασφαλίζουν πως ότι γίνεται σε ολόκληρο τον κύκλο των παρεχόμενων από το ΚΕΚ ΙΜΕ&Ε εκπαιδεύσεων, είναι σχεδιασμένο, ελέγχεται και παρακολουθείται ώστε να βελτιώνεται συνεχώς και να
              ανταποκρίνεται στις προσδοκίες των εκπαιδευομένων.
            </div>

          </div>
        </div>


      </div>
      <!-- Navigation buttons -->
      <div class="row mx-0 my-4">
        <div class="col-12 text-center text-sm-right py-2">
          <a href="/foreas/synerg" class="btn imee-btn-grey">
             Συνεργασίες
             <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
