<div class="row mx-0 imee-red d-none">
  <div class="col-12 py-3 ">
    <div class="imee-container text-center ">
      <h6 class="text-white m-0 imee-section-header" style="font-size: 0.9rem !important">Ο ΦΟΡΕΑΣ</h6>
    </div>
  </div>
</div>


<div class="row mx-0  pt-3 shadow-sm border-bottom imee-scroller">
  <div class="col-12 p-0">
    <div class="imee-container">

      <ul class="nav nav-pills nav-justified">
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/">Ιστορικό</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/synerg">Συνεργασίες</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/empiria">Εμπειρια του φορέα</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/ipodomi">Υποδομη</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/drast">Δραστηριότητα</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill active" href="#">Οργάνωση & Υπηρεσίες</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/#">Πολιτική Προστασίας</a>
        </li>

      </ul>
    </div>
  </div>
</div>


<div class="row mx-0 my-4">
  <div class="col-12 p-0 ">
    <div class="imee-container rounded border shadow-sm">


      <div class="row mx-0">
        <div class="col-12 p-0">
          <img src="/images/Organosi_Ipiresies.jpg" alt="" style="height:400px;width:100%;object-fit:cover;">
        </div>
      </div>
      <div class="row mx-0  py-3">
        <div class="col-12 imee-text-black ">
          <div class="row mx-0 ">
            <div class="col-12 py-2 my-1 border-bottom">
              <span class="imee-prog-title">Εσωτερική Οργάνωση & Υπηρεσίες</span>
            </div>
            <!-- <div class="col-12 py-2 ">
              <span class="imee-prog-subtitle">Υπότιτλος για Σεμινάρια Πληροφορικής</span>
            </div> -->
            <div class="col-12 fr-view mt-4 text-justify">

              Οργανωτικά απαρτίζεται από την Γενική Διεύθυνση, που υποστηρίζεται από τη Γραμματεία και τα παρακάτω τμήματα:
              <br>
              Το «Τμήμα Σχεδιασμού» που αποτελείται από:
              <br>
              <ul>


                <li>
                  Το «Γραφείο Συγχρηματοδοτούμενων Ενεργειών».
                  Ασχολείται με τον σχεδιασμό προτάσεων για Επιχειρησιακά Προγράμματα και Κοινοτικές Πρωτοβουλίες, στα πλαίσια υποβολής προσφορών ανοικτών διαγωνισμών για την επιλογή αναδόχων, συγχρηματοδοτούμενων από την Ευρωπαϊκή Ένωση και από
                  Φορείς του Ελληνικού Δημοσίου.
                </li>
                <li>
                  Το «Γραφείο Αυτο-χρηματοδοτούμενων Ενεργειών».
                  Ασχολείται με τον σχεδιασμό προτάσεων σε θέματα εκπαίδευσης για Ιδιωτικούς Φορείς.
                </li>

                <li>
                  Το «Τμήμα Εκπαίδευσης».
                  Ασχολείται με την προετοιμασία, τον προγραμματισμό, την υλοποίηση και παρακολούθηση ενεργειών στα πλαίσια συγχρηματοδοτούμενων και αυτό-χρηματοδοτούμενων ενεργειών.
                </li>

                <li>
                  Το «Τμήμα Μελετών και Ερευνών».
                  Εκπονεί έρευνες, οικονομοτεχνικές, κλαδικές και αναπτυξιακές μελέτες, για λογαριασμό του Ιδιωτικού και του Δημοσίου Τομέα.

                </li>

                <li>
                  Το «Τμήμα Διοργάνωσης εκδηλώσεων» ημερίδων, συνεδρίων κτλ.
                  Δραστηριοποιείται στην εξυπηρέτηση των αναγκών για φορείς είτε του Ιδιωτικού Τομέα είτε του Δημόσιου Τομέα στο πλαίσιο εφαρμογής δράσεων μέσω συγχρηματοδοτούμενων ενεργειών.
                  Στα πλαίσια των διοργανώσεων υπάγεται και η παραγωγή εκπαιδευτικού υλικού, σημειώσεων υλικού ενημέρωσης – προβολής.
                </li>

                <li>
                  Το «Τμήμα Προώθησης στην Απασχόληση».
                  Στελεχώνεται από εξειδικευμένους συμβούλους απασχόλησης και στοχεύει στη σύνδεση των καταρτιζομένων με την αγορά εργασίας, στην ψυχολογική στήριξη τους και στο συνεχή επαγγελματικό προσανατολισμό τους.

                </li>
                <li>
                  Το «Τμήμα Οικονομικής Διαχείρισης - Λογιστήριο».
                  Ασχολείται με τον οικονομικό προγραμματισμό, τη λογιστική παρακολούθηση και την εκτέλεση των πληρωμών για λογαριασμό της εταιρείας.
                </li>


              </ul>
            </div>

          </div>
        </div>


      </div>
      <!-- Navigation buttons -->
      <div class="row mx-0 my-4">
        <div class="col-12 col-sm-6 text-center text-sm-left py-2">
          <a href="/foreas/drast" class="btn imee-btn-grey">
            <i class="fas fa-arrow-left"></i>
             Δραστηριότητα
          </a>
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-right py-2">
          <a href="/foreas/ekdilo" class="btn imee-btn-grey">
             Αίθουσα εκδηλώσεων
             <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
