<div class="row mx-0 imee-red d-none">
  <div class="col-12 py-3 ">
    <div class="imee-container text-center ">
      <h6 class="text-white m-0 imee-section-header" style="font-size: 0.9rem !important">Ο ΦΟΡΕΑΣ</h6>
    </div>
  </div>
</div>


<div class="row mx-0 pt-3 shadow-sm border-bottom imee-scroller">
  <div class="col-12 p-0">
    <div class="imee-container">

      <ul class="nav nav-pills nav-justified">
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/">Ιστορικό</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill active" href="#">Συνεργασίες</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/empiria">Εμπειρια του φορέα</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/ipodomi">Υποδομη</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/drast">Δραστηριότητα</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/org">Οργάνωση & Υπηρεσίες</a>
        </li>
        <li class="nav-item mx-2 my-1">
          <a class="nav-link imee-pill " href="/foreas/#">Πολιτική Προστασίας</a>
        </li>

      </ul>
    </div>
  </div>
</div>


<div class="row mx-0 my-4">
  <div class="col-12 p-0 ">
    <div class="imee-container rounded border shadow-sm">


      <div class="row mx-0">
        <div class="col-12 p-0">
          <img src="/images/Sinergasies.jpg" alt="" style="height:400px;width:100%;object-fit:cover;">
        </div>
      </div>
      <div class="row mx-0  py-3">
        <div class="col-12 imee-text-black ">
          <div class="row mx-0 ">
            <div class="col-12 py-2 my-1 border-bottom">
              <span class="imee-prog-title">Συνεργασίες</span>
            </div>
            <!-- <div class="col-12 py-2 ">
              <span class="imee-prog-subtitle">Υπότιτλος για Σεμινάρια Πληροφορικής</span>
            </div> -->
            <div class="col-12 fr-view mt-4 text-justify">

              Το ΚΕΚ ΙΜΕ&Ε είναι:<br><br>

              Εταίρος Διακρατικών Συνεργασιών, με άλλους Ευρωπαϊκούς Φορείς
              στα πλαίσια Κοινοτικών Πρωτοβουλιών παρακολουθώντας έτσι συνεχώς τις εξελίξεις
              στο διεθνή χώρο, χρησιμοποιώντας τις γνώσεις και τις εμπειρίες των αλλοδαπών συνεργατών του,
              για λογαριασμό των δικών του πελατών.
              <br>
              <br>
              Εταίρος του E.C.M.C. (European Consortium of Management Consultants),
              στο οποίο συμμετέχουν οργανισμοί και εταιρείες από όλα τα κράτη μέλη της Ε.Ε., διαθέτοντας μεγάλη εμπειρία και τεχνογνωσία σε θέματα παροχής συμβουλευτικών υπηρεσιών, κατάρτισης και απασχόλησης.
              <br>
              <br>
              Μέλος του ΕΛ.Σ.Ε.Κ.Ε.Κ. (Ελληνικός Σύνδεσμος Εταιρειών Κέντρων Επαγγελματικής Κατάρτισης),
              στο οποίο συμμετέχουν πάνω από 100 Κ.Ε.Κ

            </div>

          </div>
        </div>


      </div>
      <!-- Navigation buttons -->
      <div class="row mx-0 my-4">
        <div class="col-12 col-sm-6 text-center text-sm-left py-2">
          <a href="/foreas/" class="btn imee-btn-grey">
            <i class="fas fa-arrow-left"></i>
             Ιστορικό
          </a>
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-right py-2">
          <a href="/foreas/empiria" class="btn imee-btn-grey">
             Εμπειρία του φορέα
             <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
